/* @media(min-width:370px){
    .chart-wrapper{
        width: 400px;
    }
}

@media(min-width:1024px){
    .chart-wrapper{
        width: 400px;
    }
}

@media(min-width:1440px){
    .chart-wrapper{
        width: 500px;
    }
} */